{
  "semi": false,
  "printWidth": 140,
  "singleQuote": true,
  "quoteProps": "preserve",  
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}