// 公共样式

// 清除浮动
.clearfix::after {
  content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

// 内边距外边距
@for $i from 0 through 100 {
  .m#{$i} {
    margin: $i + rpx;
  }
  .mt#{$i} {
    margin-top: $i + rpx;
  }
  .mr#{$i} {
    margin-right: $i + rpx;
  }
  .ml#{$i} {
    margin-left: $i + rpx;
  }
  .mb#{$i} {
    margin-bottom: $i + rpx;
  }

  .p#{$i} {
    padding: $i + rpx;
  }
  .pt#{$i} {
    padding-top: $i + rpx;
  }
  .pr#{$i} {
    padding-right: $i + rpx;
  }
  .pb#{$i} {
    padding-bottom: $i + rpx;
  }
  .pl#{$i} {
    padding-left: $i + rpx;
  }
}

// 文字超出部分隐藏并显示省略号 单行和多行
@for $i from 1 through 3 {
  .text-line-#{$i} {
    // word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    @if $i == 1 {
      white-space: nowrap;
      display: block;
    } @else {
      display: -webkit-box;
      -webkit-line-clamp: #{$i};
      line-clamp: #{$i};
      -webkit-box-orient: vertical;
    }
  }
}
